<%= stylesheet_link_tag 'codemirror', plugin: :redmine_custom_css %>
<%= javascript_include_tag 'codemirror.min', plugin: :redmine_custom_css %>

<%= form_for @stylesheet, url: custom_css_path, method: :patch do |f| %>
  <%= f.text_area :custom_css %>
  <%= f.submit l(:button_submit) %>
  <a href="javascript:history.back()"><%= l(:button_back) %></a>
<% end %>

<%= javascript_tag do %>
  var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("user_stylesheet_custom_css"), {
    mode: "css",
    smartIndent: true,
    lineNumbers: true,
    matchBrackets: true,
    autofocus: true,
    viewportMargin: Infinity
  });
<% end %>

<style>
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
</style>